@{
    ViewBag.Title = "About";
}
<body>
    <h2>@ViewBag.Title.</h2>

    <div class="jumbotron">
        <article>
            Hey Im Moe. Im a music producer and software developer that wants to make it easier for creatives to access music that is Creative Commons CC BY licensed. Ive been making music for the past 4 years and Im adding my whole library to this project. I want to get more producers involved and have this project take off. I want to see this project get bigger and help people who need music for their projects but who dont have the budget.

            Your support will allow me to make more music and pay for hosting the application. Your support will help make better quality content and I always will make music regardless, but your help will ensure that there's even more content up on Audiotaco each week!
        </article>
        <p>Help support this project at <a href="https://www.patreon.com/audiotaco"><img src="~/images/Patreon_logo.svg.png" width="50" height="50" /></a></p>
    </div>
</body>
