@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
<p>Contact Mohamoud Mohamed at audiotrash112@gmail.com for any inquiries.</p>


    <strong>Support:</strong>   <a href="mailto:Audiotrash112@gmail.com">audiotrash112@gmail.com</a><br />
  </div>
