@{
//ViewBag.Title = "Home Page";
}


<body id="stage">
    
    <div id="stage-caption">

        <div class="row">
            <div class="col-sm-12">
                <h1 style="padding-top:0px; color:white; font-size:64px;text-shadow: none; font-weight:100">
                    A platform built to
                </h1><h1 style="font-style:italic; font-weight:800;font-size:64px;text-shadow: none; font-family: 'Raleway', 'Blackadder ITC'; ">simply get music.</h1>
                <p>
                    Artists, game developers, youtube creators, and brands use our audio to build
                    experiences which bring them closer to finishing their products. All music is under the <span style="font-style:italic;font-size:12px">Creative Commons CC BY license</span>
                </p>

                <a href="/Music/Random" class="btn btn-lg btn-success">Search Music</a>
               </div>
            </div>
            </div>

</body>








